
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{user.name}}'s WatchList</title>
	<link rel="icon"  href="{{url_for('static',filename='favicon.png')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<h2>
		<img alt="Avator" class="avator" src="{{url_for('static',filename='images/luban.png')}}">
		{{user.name}}'s WatchList
	</h2>
	{#使用 length 过滤器获取movies 变量的长度#}

	<p>{{movies|length}} Titles</p>
	<ul class="movie-list">
		{% for movie in movies %}
		<li>{{movie.title}} - {{movie.year}}</li>
		{% endfor %}
	</ul>
	<img alt="Waling Totoro" class="totoro" src="{{url_for('static',filename='images/caiwenji.png')}}">
	<footer>
		<small>&copy; 2019 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
	</footer>
</body>
</html>